[submodule "pyGAD"]
	path = pyGAD
	url = git@github.com:ahmedfgad/GeneticAlgorithmPython.git
[submodule "LEAP"]
	path = LEAP
	url = git@github.com:AureumChaos/LEAP.git
[submodule "TorchGA"]
	path = TorchGA
	url = git@github.com:ahmedfgad/TorchGA.git
